@import "tailwindcss";
@import "@repo/tailwind-config";
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply bg-gradient-to-br from-orange-100 via-orange-100/10 to-orange-300/20 min-h-screen text-slate-900 bg-fixed;
}

